{% if i < knowledge_point.contents|length %}
    <div class="content">{{ knowledge_point.contents[i].text | markdown }}</div>
    {% include 'next_button.html' %}
{% elif i < knowledge_point.contents|length + knowledge_point.lesson_questions|length %}
    {% set question_index = i - knowledge_point.contents|length %}
    {% set question = knowledge_point.lesson_questions[question_index] %}
    <div class="question">
        <div>{{ question.prompt | markdown }}</div>
        <form id="knowledge-point-{{ knowledge_point_index }}-question-form-{{ question_index }}">
            {% for choice in question.choices %}
                <label>
                    <input type="radio" name="answer" value="{{ choice.id }}" required
                        {% if question.answer is not none %}
                            disabled
                            {% if choice.id == question.answer.choice_id %}checked{% endif %}
                        {% endif %}
                    >
                    <div>{{ choice.text | markdown }}</div>
                </label>
            {% endfor %}
        </form>
    </div>
    {% if question.answer is none %}
        <button
            id="submit-button"
            type="submit"
            hx-post="/course/{{ course_id }}/lesson/{{ lesson_id }}/submit"
            hx-target="#submit-button"
            hx-vals='{"knowledge_point_index": {{ knowledge_point_index }}, "question_index": {{ question_index }}, "i": {{ i }}}'
            hx-include="#knowledge-point-{{ knowledge_point_index }}-question-form-{{ question_index }}"
            hx-swap="outerHTML"
        >Submit</button>
    {% else %}
        {% set is_correct = question.answer.choice_id == question.correct_choice().id %}
        {% set correct_answer_text = question.correct_choice().text %}
        {% set explanation = question.explanation %}
        {% include 'answer_feedback.html' %}
        {% include 'next_button.html' %}
    {% endif %}
{% endif %}
