{% macro render_next_button(course, lesson, knowledge_point, knowledge_point_index, i) %}
    {% set kp_len = knowledge_point.contents|length + knowledge_point.questions|length %}
    {% if knowledge_point_index < lesson.knowledge_points|length - 1 or i < kp_len - 1 %}
        {% set next_kp_index = knowledge_point_index %}
        {% set next_i = i + 1 %}
        {% if i == kp_len - 1 %}
            {% set next_kp_index = knowledge_point_index + 1%}
            {% set next_i = 0 %}
        {% endif %}

        <button
            id="submit-button"
            hx-post="/course/{{ course.route }}/lesson/{{ lesson.route }}/next"
            hx-target="#submit-button"
            hx-vals='{"knowledge_point_index": {{ next_kp_index }}, "i": {{ next_i }}}'
            hx-swap="outerHTML"
        >Next</button>
    {% endif %}
{% endmacro %}


{% macro render_knowledge_point(course, lesson, knowledge_point, knowledge_point_index, i) %}
    {% if i < knowledge_point.contents|length %}
        <p class="content">{{ knowledge_point.contents[i].text }}</p>
        {{ render_next_button(course, lesson, knowledge_point, knowledge_point_index, i) }}
    {% elif i < knowledge_point.contents|length + knowledge_point.questions|length %}
        {% set question_index = i - knowledge_point.contents|length %}
        {% set question = knowledge_point.questions[question_index] %}
        <div class="question">
            <p><strong>{{ question.prompt }}</strong></p>
            <form id="knowledge-point-{{ knowledge_point_index }}-question-form-{{ question_index }}">
                {% for choice in question.choices %}
                    <label>
                        <input type="radio" name="answer" value="{{ loop.index0 }}" required>
                        {{ choice.text }}
                    </label><br>
                {% endfor %}
                <p><small>Question {{ question_index + 1 }} of {{ knowledge_point.questions|length }}</small></p>
            </form>
        </div>
        <button
            id="submit-button"
            type="submit"
            hx-post="/course/{{ course.route }}/lesson/{{ lesson.route }}/submit"
            hx-target="#submit-button"
            hx-vals='{"knowledge_point_index": {{ knowledge_point_index }}, "question_index": {{ question_index }}, "i": {{ i }}}'
            hx-include="#knowledge-point-{{ knowledge_point_index }}-question-form-{{ question_index }}"
            hx-swap="outerHTML"
        >Submit</button>
    {% endif %}
{% endmacro %}
