{% if question %}
    <div class="question">
        <p><strong>{{ question.prompt }}</strong></p>
        <form id="question-form-{{ i }}">
            {% for choice in question.choices %}
                <label>
                    <input type="radio" name="answer" value="{{ choice.id }}" required
                        {% if question.answer is not none %}
                            disabled
                            {% if choice.id == question.answer.choice_id %}checked{% endif %}
                        {% endif %}
                    >
                    {{ choice.text }}
                </label>
            {% endfor %}
        </form>
    </div>
    {% if question.answer is none %}
        <button
            id="submit-button"
            type="submit"
            hx-post="/course/{{ course.id }}/{{ entity_type }}/{{ entity_id }}/submit"
            hx-target="#submit-button"
            hx-vals='{"i": {{ i }}}'
            hx-include="#question-form-{{ i }}"
            hx-swap="outerHTML"
        >Submit</button>
    {% else %}
        {% set is_correct = question.answer.choice_id == question.correct_choice().id %}
        {% set correct_answer_text = question.correct_choice().text %}
        {% set explanation = question.explanation %}
        {% include 'answer_feedback.html' %}
        {% include 'question_next_button.html' %}
    {% endif %}
{% endif %}
